<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{{ path('app_charts') }}">
            <span class="align-middle">
				SymfonyUX
			</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
				Pages
            </li>

            <li class="sidebar-item {{ app.request.attributes.get('_route') == 'app_charts' ? 'active' }}">
                <a class="sidebar-link" href="{{ path('app_charts') }}">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Charts</span>
                </a>
            </li>

            <li class="sidebar-item {{ app.request.attributes.get('_route') == 'app_maps' ? 'active' }}">
                <a class="sidebar-link" href="{{ path('app_maps') }}">
                    <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
                </a>
            </li>

            <li class="sidebar-item {{ app.request.attributes.get('_route') == 'app_vuejs' ? 'active' }}">
                <a class="sidebar-link" href="{{ path('app_vuejs') }}">
                    <i class="align-middle" data-feather="codesandbox"></i> <span class="align-middle">Vue.js</span>
                </a>
            </li>

            <li class="sidebar-item {{ app.request.attributes.get('_route') == 'app_autocomplete' ? 'active' }}">
                <a class="sidebar-link" href="{{ path('app_autocomplete') }}">
                    <i class="align-middle" data-feather="codesandbox"></i> <span class="align-middle">Autocomplete</span>
                </a>
            </li>
        </ul>
    </div>
</nav>